@import url("./assets/fonts/fonts.css");

* {
  margin: 0;
  padding: 0;
  font-family: "helveticanow";
  /* overflow-x: hidden; */
  text-decoration: none !important;
}
button {
  text-decoration: none !important;
  outline: none !important;
  border: none;
  box-shadow: none;
}

.cartLink {
  text-decoration: none !important;
  color: #000 !important;
}
.hero {
  /* background-color: rgba(245, 245, 242, 255); */
  overflow-x: hidden;
}
.hero-text h2 {
  font-size: 28px;
  line-height: 32px;
}

.hero-text p {
  font-size: 1rem;
}

.heroDiv {
  background-color: #377e7f;
  padding: 10px;
  width: fit-content;
}

.heroDiv:hover {
  background-color: #5f9899;
}

.hero-text span {
  color: #377e7f;
}
.heroLg {
  background-image: url("/src/assets/images/img8.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
}

.products {
  background: #fcfcfc;
}

.viewMore {
  background-color: #f2f2f2;
  border-radius: 16px;
  width: fit-content;
}

.viewMoreP {
  text-decoration: underline !important;
}
.viewMoreP:hover {
  cursor: pointer;
}
.productImg:hover {
  cursor: pointer;
}
.addToCartDiv {
  background-color: #0f2324;
  width: fit-content;
  padding: 8px;
}
.addToCartDiv:hover {
  background-color: #2a4446;
}

.completeOutfitsSection {
  background-image: url("/src/assets/images/img10.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

.completeOutfitsSection section {
  margin-top: 200px;
}
.completeOutfitsSection section p {
  color: #f2f2f2;
  font-size: 36px;
}

.completeOutfitsSection section div {
  color: rgba(55, 126, 127, 1);
  padding: 16px 48px 16px 48px;
}
.completeOutfitsSection section div:hover {
  cursor: pointer;
  opacity: 0.9;
}

.displayImg1 {
  background-image: url("./assets/images/img6.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 506px;
}
.displayImg2 {
  background-image: url("./assets/images/img7.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 506px;
  width: 100%;
}
.displayImg3 {
  background-image: url("./assets/images/img5.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 506px;
}
.displayImg1:hover {
  opacity: 0.8;
  cursor: pointer;
  .displayImg1Div {
    display: block;
  }
}
.displayImg2:hover {
  opacity: 0.8;
  cursor: pointer;
  .displayImg2Div {
    display: block;
  }
}
.displayImg3:hover {
  opacity: 0.8;
  cursor: pointer;
  .displayImg3Div {
    display: block;
  }
}

.displayImg1Div {
  display: none;
  padding: 16px 48px 16px 48px;
  width: fit-content;
  margin-top: 230px;
  margin-left: 115px;
}
.displayImg2Div {
  display: none;
  padding: 16px 48px 16px 48px;
  width: fit-content;
  margin-top: 230px;
  margin-left: 115px;
}
.displayImg3Div {
  display: none;
  padding: 16px 48px 16px 48px;
  width: fit-content;
  margin-top: 230px;
  margin-left: 115px;
}

.newsletterDiv {
  background-color: rgba(216, 239, 236, 1);
}

.newsletterDiv h4 {
  font-size: 18px;
}

.newsletterDiv p {
  font-size: 12px;
  color: rgba(130, 130, 130, 1);
}

.emailInput,
.input-group-text {
  background-color: transparent !important;
  border: 1px solid #ced4da;
}

.emailInput:focus {
  box-shadow: none;
}

.input-group-text {
  border-right: 0;
}

.emailInput {
  border-left: 0;
}

.emailInput::placeholder {
  color: #6c757d;
  opacity: 1;
  font-size: 12px;
}

.newsBtn {
  background: rgba(55, 126, 127, 1);
  color: white;
  padding: 8px 16px 8px 16px;
  gap: 12px;
  font-size: 12px;
  outline: none !important;
}

.footer {
  background-color: rgba(55, 126, 127, 1);
}

.footer li {
  list-style: none;
  line-height: 12px;
}

.footer li p {
  font-size: 14px;
}

.footer li p:hover {
  cursor: pointer;
}

.footer h6 {
  color: rgba(255, 255, 255, 1);
}

.footer p {
  color: rgba(216, 239, 236, 1);
}

.footer-logo {
  width: fit-content;
}

.footerBottom {
  border-top: 1px solid #e7ddff;
}

/* Cart */
.cartImg {
  height: 87px;
}

.cartDiv {
  border-top: 2px solid #bdbdbd;
}

.cartItem {
  border-bottom: 2px solid #bdbdbd;
}

.cartProduct p {
  font-size: 12px;
}

.productPrice {
  font-size: 16px;
}

.cartTotal h4 {
  font-size: 16px;
  color: #4f4f4f;
  font-weight: 700;
}
.apply {
  background-color: #333333;
  color: white;
}
.apply:hover {
  background-color: #2a4446;
}
.checkoutItems {
  font-weight: 500;
}

.cardPayment {
  border-radius: 8px 8px 0px 0px;
}

.bankTransfer {
  border-top: none !important;
  border-bottom: none !important;
}
.cryptoPayment {
  border-radius: 0px 0px 8px 8px;
}

.checkoutDiv1 p:nth-child(1) {
  font-weight: 700;
  color: #4f4f4f;
}
.checkoutDiv1 p:nth-child(2) {
  font-weight: 500;
  color: #bdbdbd;
}
.checkoutDiv2 p:nth-child(1) {
  font-weight: 700;
  font-size: 18px;
  color: #4f4f4f;
}
.checkoutDiv2 p:nth-child(2) {
  font-weight: 500;
  font-size: 16px;

  color: #4f4f4f;
}
.checkoutDiv3 p:nth-child(1) {
  font-weight: 700;
  font-size: 24px;
  color: #4f4f4f;
}
.checkoutDiv3 p:nth-child(2) {
  font-weight: 700;
  font-size: 24px;

  color: #4f4f4f;
}

.checkoutBtn {
  background: #377e7f;
  color: white;
  text-decoration: none !important;
  outline: none !important;
  border: none;
  outline: none;
  box-shadow: none;
}

.checkoutBtnL {
  text-decoration: none !important;
}

.paymentOption {
  border: 0.8px solid black;
  height: 50px;
}

.payNow {
  background: #377e7f;
  color: white;
  font-size: 1rem;
  outline: none !important;
  border: none;
  outline: none;
  box-shadow: none;
}

.radio-input {
  display: none;
}

.radio-input + label::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 2px solid #000;
  border-radius: 50%;
  background-color: #fff;
}

.radio-input:checked + label::before {
  background-color: #000;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .newsletterDiv h4 {
    font-size: 28px;
  }

  .newsletterDiv p {
    font-size: 16px;
    color: rgba(130, 130, 130, 1);
  }

  .newsBtn {
    font-size: 16px;
  }

  .emailInput::placeholder {
    color: #6c757d;
    opacity: 1;
    font-size: 14px;
  }
}

@media (min-width: 1025px) {
  .newsletterDiv h4 {
    font-size: 28px;
  }

  .newsletterDiv p {
    font-size: 16px;
    color: rgba(130, 130, 130, 1);
  }

  .newsBtn {
    font-size: 16px;
  }

  .emailInput::placeholder {
    color: #6c757d;
    opacity: 1;
    font-size: 14px;
  }
}
